<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

    <div class="form-group row">
        <label class="control-label col-sm-3 col-lg-2" for="title"><f:translate key="title" /></label>
        <div class="col-sm-9 col-lg-10">
            <f:form.textfield
                    property="title"
                    id="title"
                    class="form-control"
                    additionalAttributes="{data-parsley-trigger:'change focusout', required:''}" />
        </div>
    </div>
    
    <div class="form-group row">
        <label class="control-label col-sm-3 col-lg-2" for="teaser"><f:translate key="teaser" /></label>
        <div class="col-sm-9 col-lg-10">
            <f:form.textarea
                property="teaser"
                id="teaser"
                class="form-control"
                rows="2" />
        </div>        
    </div>
    
    <div class="form-group row">
        <label class="control-label col-sm-3 col-lg-2" for="bodytext"><f:translate key="bodytext" /></label>
        <div class="col-sm-9 col-lg-10">
            <f:form.textarea
                property="bodytext"
                id="bodytext"
                class="form-control tinymce"
                rows="5"
                additionalAttributes="{data-parsley-trigger:'change focusout', required:''}" />
        </div>
    </div>

    <fieldset class="">
        <legend><f:translate key="image_legend" /></legend>

        <div class="form-group row">
            <label for="falMedia" class="control-label col-sm-3 col-lg-2">
                <f:translate key="image" />({settings.allowed_falMedia}{f:if(condition:'{settings.allowed_falMedia_size}',then:', {f:translate(key: \'image_max_filesize\', arguments: {0: \'{settings.allowed_falMedia_size}\'})}')})
            </label>
            <div class="col-sm-9 col-lg-10">
                <f:form.upload
                    name="falMedia"
                    id="falMedia"
                    class="form-control-file"
                    additionalAttributes="{f:if(condition:'{settings.allowed_falMedia_size}',then:'{data-parsley-trigger:\'change focusout\', data-parsley-max-file-size:\'{settings.allowed_falMedia_size}\'}')}" />
    
                <f:if condition="{news.firstFalMedia}">
                    <div>
                        <div>
                            <f:image image="{news.firstFalMedia}" alt="" maxWidth="100"/>
                        </div>
                        <f:form.checkbox name="falMedia[delete]" checked="0" value="1" id="falMediaDelete" />
                        <label for="falMediaDelete"><f:translate key="image_delete" /></label>
                    </div>
                </f:if>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-3 col-lg-2" for="falMediaTitle"><f:translate key="image_title" /></label>
            <div class="col-sm-9 col-lg-10">
                <f:form.textfield name="falMedia[title]" id="falMediaTitle" value="{news.firstFalMedia.title}" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-sm-3 col-lg-2" for="falMediaDescription"><f:translate key="image_description" /></label>
            <div class="col-sm-9 col-lg-10">
                <f:form.textfield name="falMedia[description]" value="{news.firstFalMedia.description}" id="falMediaDescription" class="form-control" />
            </div>
        </div>
        <f:form.hidden
                name="falMedia[showinpreview]"
                value="1"/>
        <f:comment>
            <!-- dropdown gelöscht und mit einem fixen hidden input mit dem Wert "Show in all views" ersetzt -->
            <div class="form-group row">
                <label class="control-label col-sm-3 col-lg-2" for="showinpreview"><f:translate key="image_showinpreview" /></label>
                <div class="col-sm-9 col-lg-10">
                    <f:form.select
                        name="falMedia[showinpreview]"
                        options="{showinpreviewOptions}"
                        value="{news.firstFalMedia.showinpreview}"
                        id="showinpreview"
                        class="form-control" />
                </div>
            </div>
        </f:comment>
    </fieldset>

    <fieldset class="">
        <legend><f:translate key="document_legend" /></legend>

        <div class="form-group row">
            <label for="falRelatedFiles"  class="control-label col-sm-3 col-lg-2">
                <f:translate key="document" /> ({settings.allowed_falRelatedFiles}{f:if(condition:'{settings.allowed_falRelatedFiles_size}',then:', {f:translate(key: \'document_max_filesize\', arguments: {0: \'{settings.allowed_falRelatedFiles_size}\'})}')})
            </label>
            <div class="col-sm-9 col-lg-10">
                <f:form.upload
                    name="falRelatedFiles"
                    id="falRelatedFiles"
                    class="form-control-file"
                    additionalAttributes="{f:if(condition:'{settings.allowed_falRelatedFiles_size}',then:'{data-parsley-trigger:\'change focusout\', data-parsley-max-file-size:\'{settings.allowed_falRelatedFiles_size}\'}')}" />
    
                <f:if condition="{news.firstFalRelatedFiles}">
                    <div>
                        <div>
                            <f:translate key="document_current" />
                            <f:link.typolink parameter="{news.firstFalRelatedFiles.originalResource.originalFile.publicUrl}" target="_blank">{news.firstFalRelatedFiles.originalResource.originalFile.name}</f:link.typolink>
                        </div>
                        <f:form.checkbox name="falRelatedFiles[delete]" checked="0" value="1" id="falRelatedFilesDelete" />
                        <label for="falRelatedFilesDelete"><f:translate key="document_delete" /></label>
                    </div>
                </f:if>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-3 col-lg-2" for="falRelatedFilesTitle"><f:translate key="document_title" /></label>
            <div class="col-sm-9 col-lg-10">
                <f:form.textfield name="falRelatedFiles[title]" id="falRelatedFilesTitle" value="{news.firstFalRelatedFiles.title}" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-sm-3 col-lg-2" for="falRelatedFilesDescription"><f:translate key="document_description" /></label>
            <div class="col-sm-9 col-lg-10">
                <f:form.textfield name="falRelatedFiles[description]" value="{news.firstFalRelatedFiles.description}" id="falRelatedFilesDescription" class="form-control" />
            </div>
        </div>
    </fieldset>



    <div class="form-group row">
        <label class="control-label col-sm-3 col-lg-2" for="categories"><f:translate key="categories" /></label>
        <div class="col-sm-9 col-lg-10">
            <f:form.select
                property="categories"
                options="{categories}"
                optionValueField="uid"
                optionLabelField="title"
                id="categories"
                class="form-control"
                multiple="multiple"
                size="3" />
        </div>
    </div>

    <fieldset class="">
        <legend>Related Link</legend>

        <div class="form-group row">
            <label class="control-label col-sm-3 col-lg-2">Link 1 Url</label>
            <div class="col-sm-9 col-lg-10">
                <f:form.textfield
                    name="related_links[0][uri]"
                    value="{news.relatedLinks.0.uri}"
                    class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-3 col-lg-2">Link 1 Titel</label>
            <div class="col-sm-9 col-lg-10">
                <f:form.textfield
                    name="related_links[0][title]"
                    value="{news.relatedLinks.0.title}"
                    class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-3 col-lg-2">Link 1 Beschreibung</label>
            <div class="col-sm-9 col-lg-10">
                <f:form.textfield
                    name="related_links[0][description]"
                    value="{news.relatedLinks.0.description}"
                    class="form-control" />
            </div>
        </div>

    </fieldset>

    <fieldset class="">
        <legend>Related Link</legend>

        <div class="form-group row">
            <label class="control-label col-sm-3 col-lg-2">Link 2 Url</label>
            <div class="col-sm-9 col-lg-10">
                <f:form.textfield
                    name="related_links[1][uri]"
                    value="{news.relatedLinks.1.uri}"
                    class="form-control" />
            </div>
        </div>


        <div class="form-group row">
            <label class="control-label col-sm-3 col-lg-2">Link 2 Titel</label>
            <div class="col-sm-9 col-lg-10">
                <f:form.textfield
                    name="related_links[1][title]"
                    value="{news.relatedLinks.1.title}"
                    class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-3 col-lg-2">Link 2 Beschreibung</label>
            <div class="col-sm-9 col-lg-10">
                <f:form.textfield
                    name="related_links[1][description]"
                    value="{news.relatedLinks.1.description}"
                    class="form-control" />
            </div>
        </div>

    </fieldset>

</html>
